<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vineria El Viejo Buo
    </title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <header>
      <nav>
        <div>
          <h1><a href="/login">Vineria el viejo Buo</a></h1>
        </div>
        <ul>
          <li><a href="/products">Products</a></li>
          <li><a href="/carts/63c5494987fcf899bff4f698">Cart</a></li>
        </ul>
      </nav>
    </header>
    {{{body}}}
  </body>
</html>